################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

.classpath
.project
.settings
.idea
workspace.xml
target
tmp-git-deployment-staging
/docker-dir/
$tf
*.suo
Solution.Core/obj/
Solution.Core/bin/
Solution.Data/obj/
Solution.Data/bin/
Solution.DTO/obj/
Solution.DTO/bin/
Solution.Infrastructure/obj/
Solution.Infrastructure/bin/
Solution.Services/obj/
Solution.Services/bin/
Example.Solution.Core/obj/
Example.Solution.Core/bin/
Example.Solution.Infrastructure/obj/
Example.Solution.Infrastructure/bin/
Example.Solution.Services/obj/
Example.Solution.Services/bin/
Example.Solution.API/obj/
Example.Solution.API/bin/
.vs/
/.vscode
/conf95.ftp
/conf96.ftp
/Example.Solution.API/Properties/PublishProfiles
/Example.Solution.Services/obj/Release/net8.0
/Example.Solution.Services/bin/Release/net8.0
Example.Solution.Services/obj/Debug/net8.0/UMR-TRN-Services.csproj.AssemblyReference.cache
/Example.Solution.Services/bin/Debug/net8.0
/Example.Solution.Services/obj/Debug/net8.0
/Example.Solution.API/obj/Debug/net8.0
/Example.Solution.API/obj
/Example.Solution.API/bin/Debug/net8.0
/Example.Solution.API/bin/Release/net8.0
/Example.Solution.API/Properties/PublishProfiles
